* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    position: relative;
    width: 100%;
    height: 800px;
}

.header-text {
    left: 9%;
    font-size: 28px;
    top: 8%;
    width: 30%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    text-decoration-line: underline;
}

.head-text2 {
    right: 5%;
    font-size: 28px;
    top: 8%;
    width: 30%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    text-decoration-line: underline;
}

.head-text2 img {
    width: 30px;
    height: 30px;
    left: 100px;
}

.capo {
    position: absolute;
    width: 800px;
    height: 264px;
    left: 200px;
    top: 252px;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 334px;
    color: #000000;
}

.capo2 {
    position: absolute;
    width: 500px;
    height: 66px;
    left: 960px;
    top: 516px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
}

.main1 {
    display: block;
    width: 100%;
    height: 200px;
    background-color: white;
}

.ma1 {
    position: relative;
    width: 330px;
    height: 125px;
    left: 360px;
    top: 120px;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 128px;
    color: #E2AB3F;
}

.ma2 {
    position: relative;
    width: 283px;
    height: 28px;
    left: 541px;
    top: 84px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.sec1 {
    position: relative;
}

hr {
    position: relative;
}

.slide-button-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 3%;
    left: 200px;
    bottom: 30px;
    top: 25px;
}

.slide-button-right {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    width: 3%;
    left: 290px;
}

.mySlides {
    top: 70px;
    display: block;
    position: relative;
    width: 730px;
    height: 500px;
}

.slide-main {
    height: 500px;
    display: flex;
    position: absolute;
}

.slide-text {
    top: 80px;
    position: absolute;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 300px;
}

.slide-text2 {
    top: 200px;
    position: absolute;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 300px;
}

.sec1 {
    padding-bottom: 20px;
}

.slide-text3 {
    top: 300px;
    position: absolute;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 300px;
}

.slide-text4 {
    top: 340px;
    position: absolute;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 300px;
}

.slide-text5 {
    top: 460px;
    position: absolute;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 300px;
}

.slide-text6 {
    top: 500px;
    position: absolute;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 300px;
}

.slide-main2 {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
}

.sec2 {
    display: block;
    width: 1200px;
    height: 500px;
    margin-bottom: 100px;
}

.mySlides2 {
    top: 620px;
    left: 800px;
    position: relative;
    width: 720px;
    height: 700px;
}

.slide-button-left2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 3%;
    left: 890px;
    bottom: 30px;
    top: 370px;
}

.slide-button-right2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 3%;
    left: 1300px;
    bottom: 50px;
    top: 370px;
}

.our .text1 {
    display: flex;
    position: absolute;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 128px;
    top: 600px;
    color: #E2AB3F;
}

.text1 {
    left: 250px;
}

.text2 {
    display: flex;
    position: relative;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    top: 690px;
    color: #000000;
    right: 300px;
}

.ourtrip-day h3 {
    display: block;
    position: relative;
    top: 260px;
    left: 250px;
}

.ourtrip-day .p1 {
    display: block;
    position: relative;
    top: 280px;
    left: 250px;
}

.ourtrip-day .day2 {
    display: block;
    position: relative;
    top: 300px;
    left: 250px;
}

.ourtrip-day .p2 {
    display: block;
    position: relative;
    top: 320px;
    left: 250px;
}

.ourtrip-day .day3 {
    display: block;
    position: relative;
    top: 350px;
    left: 250px;
}

.ourtrip-day .p3 {
    display: block;
    position: relative;
    top: 360px;
    left: 250px;
}

.ourtrip-day .day4 {
    display: block;
    position: relative;
    top: 380px;
    left: 250px;
}

.ourtrip-day .p4 {
    display: block;
    position: relative;
    top: 400px;
    left: 250px;
}

.ourtrip-day .day5 {
    display: block;
    position: relative;
    top: 430px;
    left: 260px;
    padding: 10px;
    height: 50px;
    width: 200px;
    border: 1px solid yellow;
}

.sec3 {
    position: relative;
    display: block;
    width: 1200px;
    height: 500px;
    margin-bottom: 100px;
}

.sec3-header {
    width: 1200px;
    height: 100px;
    bottom: 40px;
}

.sec3-head-text {
    position: relative;
    width: 210px;
    height: 103px;
    left: 240px;
    top: 870px;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 128px;
    color: #E2AB3F;
}

.sec3-head-p {
    display: flex;
    position: relative;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    top: 855px;
    left: 300px;
    color: #111010;
    right: 300px;
}

.sec3-main-left img {
    position: absolute;
    width: 500px;
    height: 680px;
    left: 230px;
    top: 1100px;
}

.sec3-text {
    top: 990px;
    position: relative;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.sec3-text2 {
    top: 1030px;
    position: relative;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.sec3-text4 {
    top: 1060px;
    position: relative;
    width: 600px;
    height: 84px;
    left: 800px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.sec-grid-container {
    top: 1435px;
    left: 790px;
    position: absolute;
}

.sec-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
}

.sec-grid-container .image {
    margin: 10px;
}

.sec-grid-container img {
    width: 270px;
}

.sec4-header {
    position: relative;
    height: 500px;
}

.sec4-header-h3 {
    width: 500px;
    display: flex;
    position: relative;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 128px;
    top: 1270px;
    color: #E2AB3F;
    left: 250px;
}

.sec4-head-p {
    display: flex;
    width: 250px;
    position: relative;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    top: 1230px;
    left: 350px;
    color: #000000;
}

.sec4-grid-text h3 {
    width: 100px;
    display: flex;
    position: relative;
    top: 950px;
    left: 250px;
}

.sec4-grid-text-p1 {
    width: 600px;
    display: flex;
    position: relative;
    top: 1000px;
    left: 250px;
}

.sec4-grid-text-p2 {
    width: 600px;
    display: flex;
    position: relative;
    top: 1020px;
    left: 250px;
}

.sec4-grid-text-p3 {
    width: 600px;
    display: block;
    position: relative;
    top: 1040px;
    left: 250px;
}

.sec4-grid-text-p4 {
    width: 600px;
    display: flex;
    position: relative;
    top: 1060px;
    left: 250px;
}

.sec4-grid-text-p5 {
    width: 600px;
    display: flex;
    position: relative;
    top: 1080px;
    left: 250px;
}

/* .sec4-grid-text-center{
    width: 700px;
    display: flex;
    position: relative;
    top: 780px;
    left: 810px;
} */

.sec4-grid-text-center h3 {
    width: 500px;
    display: flex;
    position: relative;
    top: 780px;
    left: 820px;
}

.sec4-grid-text-center-p1 {
    width: 500px;
    display: flex;
    position: relative;
    top: 830px;
    left: 820px;
}

.sec4-grid-text-center-p2 {
    width: 500px;
    display: flex;
    position: relative;
    top: 850px;
    left: 820px;
}

.sec4-grid-text-center-p3 {
    width: 500px;
    display: flex;
    position: relative;
    top: 870px;
    left: 820px;
}

.sec4-grid-text-center-p4 {
    width: 500px;
    display: flex;
    position: relative;
    top: 890px;
    left: 820px;
}

.sec4-big-image img {
    position: relative;
    width: 150px;
    height: 220px;
    left: 1245px;
    top: 549px;
}

.sec4-big-image1 img {
    position: relative;
    width: 60px;
    height: 90px;
    left: 1180px;
    top: 500px;
}

.sec4-big-image2 img {
    position: relative;
    width: 50px;
    height: 80px;
    left: 1240px;
    top: 590px;
}

.sec5 img {
    position: relative;
    width: 500px;
    height: 600px;
    left: 830px;
    top: 832px;
}

.sec5-text1 {
    width: 500px;
    display: flex;
    position: relative;
    font-family: Balqis;
    font-size: 66px;
    line-height: 128px;
    top: 250px;
    color: #E2AB3F;
    left: 350px;
}

.sec5-text2 {
    position: relative;
    display: flex;
    width: 500px;
    height: 28px;
    left: -90px;
    top: 90px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.sec5-text3 {
    width: 500px;
    display: flex;
    position: relative;
    font-family: Balqis;
    font-size: 66px;
    line-height: 128px;
    top: 280px;
    color: #E2AB3F;
    left: 410px;
}

.sec5-text4 {
    position: relative;
    display: flex;
    width: 500px;
    height: 28px;
    left: -30px;
    top: 100px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.sec5-text5 h1 {
    position: relative;
    width: 359px;
    height: 20px;
    left: 380px;
    top: 334px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.sec5-name {
    position: relative;
    width: 350px;
    height: 31px;
    left: 405px;
    padding: 5px;
    top: 386px;
    border: 1px solid yellow;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}

.sec5-phone {
    position: relative;
    width: 350px;
    height: 31px;
    left: -5px;
    padding: 5px;
    top: 20px;
    border: 1px solid yellow;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}

.sec5-call h3 {
    position: relative;
    left: 470px;
    display: flex;
    border: 1px solid yellow;
    padding: 13px;
    width: 200px;
    top: 464px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

footer img {
    display: flex;
    position: absolute;
    top: 5000px;
    width: 1520px;
}

footer h3 {
    width: 400px;
    position: relative;
    height: 110px;
    left: 870px;
    display: flex;
    top: 280px;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 5px;
    color: #000000;
}

.footer-light {
    margin-top: 170px;
    width: 350px;
    height: 500px;
    left: 250px;
}

.footer-cont h3 {
    position: absolute;
    top: 5200px;
    left: 329px;
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 115px;
    color: #E2AB3F;
}

.footer-contact {
    position: absolute;
}

.footer-phone {
    position: absolute;
    left: 350px;
    right: 6.13%;
    top: 190px;
    bottom: 0%;
    width: 30px;
    height: 30px;
}
.footer-text1{
    position: absolute;
    left: 390px;
    right: 6.13%;
    top: 194px;
    bottom: 0%;
    width: 200px;
    height: 30px;

}
.footer-email{
    position: absolute;
    left: 320px;
    right: 6.13%;
    top: 240px;
    bottom: 0%;
    width: 30px;
    height: 30px;
}
.footer-text2{
    position: absolute;
    left: 360px;
    right: 6.13%;
    top: 243px;
    bottom: 0%;
    width: 200px;
    height: 30px;
}

.footer-social img{
    width: 30px;
    height: 30px;  
}
.footer-image1{
    position: relative;
    left: 350px;
    top: 300px;
}
.footer-image2{
    position: relative;
    left: 400px;
    top: 270px;
}
.footer-image3{
    position: relative;
    left: 450px;
    top: 240px;
}
