body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header{
    background:#96BA87;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;    
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.about{
    margin-left: 300px;
    font-size: 28px;
    color: aliceblue;
}
.image{
    background: url(./img/mashines.jpg) 0 0 no-repeat;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: relative;
}
.image p{
    margin-top: 0;
    font-weight: bold;
    font-size: 30px;
    color:white;
}
.info_text{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

} 
.info_text span{
    color:black;
}
.info_text h3{
    border-right: 2px solid #000;
    margin-right: 3px;
    font-size: 30px;
    padding-right: 3px;
}
.info_text p{
    border-left: 2px solid black;
    padding-left: 3px;
    font-weight: bold;
}

.info_block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 48%;
    background: white;
    border: 2px solid grey;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
    
}
.yellow{
    background:  #96BA87;
    border: 1px solid #96BA87; 
    width: 1000px; 
}
 .items_block{
    background:floralwhite;
    display: flex;
    justify-content: center;
    padding: 0 0 40px 0;
} 

.main1{
    background: #96BA87;
    border:1px solid white;
    text-align: center;
    color:white;
    padding: 25px;
    box-sizing: border-box;
    margin-left: 20px;
} 
.main1 > p{
    color: black;
}
.footer_about{
    background: #96BA87;
    padding: 20px 0;
}
 .footer_about h3 {
    text-align: center;
    color:black;
} 
.ssilka>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
}
.footer_container {
    width: 20%;
    margin: 0 auto;
}
@media screen and (max-width:700px){
    .about {
        margin-left: 20px;
    }.image{
            display: block;
            max-width: 100%;
            height: auto;
        }
    .info_text{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 20px;
    }.items_block{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }  
} 
 @media screen and (max-width:1000px){
    .footer_about a{
        display: flex;
        align-items: center;
    }
    
} 


