*{
	font-family: 'OpenSans',sans-serif;
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.header{
	height: 90px;
	display: flex;
    align-items: center;
    background: #EBEBEB;
}
.logo{
    color: #8645BB;
    margin-top: 5px;
    text-align: center;
}
.header_nav{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.info_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.info_form > input {
    padding: 10px 30px 10px 10px;
    outline: none;
}
.form_img {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.click{
    color:#C7C7C7;
    border-right: 2px solid #C7C7C7;
    padding-right: 30px;
}
.click > p {
    margin: 0;
    display: flex;
    align-items: center;
}

.click > p > img {
    margin-left: 10px;
}
.select{
    color:#C7C7C7; 
}
.select > p {
    margin: 0;
    display: flex;
    align-items: center;
}
.items_block{
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    box-sizing: border-box ;
    align-items: center;
    text-align: center;
    border:1px solid #F0F0F0;
}
.items:hover{
    width: 110px;
    height: 110px;

}
.items{
    border:1px solid #C7C7C7;
    background: #FFFFFF;
    color: #A5A5A5;
    padding: 35px 35px;
    transform: translateY(15px);
    border-bottom: 10px solid #701DBB;
    cursor: pointer;
}
.img{
    height: 80vh;
    background: url(./images/traveler/bg.png) 0 0 no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black{
    padding: 50px 0;
    background: #2D2D2D;
    text-align: center;
}
.black > h1{
    margin-top: 0;
    color:white;
}
.black > p{
    color:#6B498A;
}
.black_img{
    display: flex;
    justify-content: center;
}
.map{
    display: flex;
    justify-content: center;
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto > span{
    height: 3px;
    width: 120px;
    background-color:#A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.means{
    background: #2d2d2d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 15px 0;
}
.mean {
    text-align: left;
    width: 30%;
}
.screen{
    background-color: #222222;
    margin-top: 0;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen_img {
    width: 100%;
}
.people{
   background:#EBEBEB;
}
.people_flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.people_flex > span{
    height: 3px;
    width: 20%;
    background-color:#A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.mans{
    display: flex;
    justify-content: space-between;
}
.man1 > h2{
    color:#878787;
}
.man1 > p{
    color:#878787;
}
.image {
    position: relative;
}
.spans{
    display: flex;
    justify-content: center;
}
.spans > span:hover{
    background: #8645BB;
    transition: .3s;
    width: 12px;
    height: 12px;
}
.spans >span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    background: #979797;
}
.text_1{
    display: flex;
    justify-content: space-evenly;
   
}
.text{
    margin-top: 80px;
    background: white;
    align-items: center;
    text-align: left;
    border: 1px solid white;
    padding: 30px 30px 30px 30px;
    position: relative;
}
.text >img {
    border: 1px solid #8F33C4;
    background: #8F33C4;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.text > h1{
    color:#292929;
}
.text > h4{
    color: #7D41B3;
}
.text > p{
    color: #AEAEAE;
}
.text2{
    margin-top: 80px;
    background: white;
    align-items: center;
    text-align: left;
    border: 1px solid white;
    padding: 30px 30px 30px 30px;
}
.text2 > h1{
    color:#292929;
}
.text2 > h4{
    color: #7D41B3;
}
.text2 > p{
    color: #AEAEAE;
}
.man1{   
    position: relative;
}
.twitter{
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #8F33C4;
    bottom: 13px;
    right: 10px; 
}
.footer_block{
    background: #373737;
    padding: 50px 0;
    
}
.footer_main{
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
 .row  li{
    list-style: none;
}
.row  li a{
    color:#fff;
    text-decoration: none;
    margin: 10px;
    transition: 0.5s;
}
 .row a:hover {
    color: white; 
    border-bottom: 5px solid #7D41B3;
 }
.row {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.row > span{
   width: 1px;
   height: 8px;
   background: white;
}
.text_main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}
.text_main{
    color: #C2C2C2;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.row1  li{
    list-style: none;
}
.row1  li a{
    color:#fff;
    text-decoration: none;
    margin: 10px;
    transition: 0.3s;
}
 .row1 a:hover {
    color: white; 
    border-bottom: 5px solid #7D41B3;
 }
.row1 {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.row2  li{
    list-style: none;
}
.row2  li a{
    color:#fff;
    text-decoration: none;
    margin: 10px;
    transition: 0.3s;
}
 .row2 a:hover {
    color: white; 
    border-bottom: 5px solid #7D41B3;
 }
.row2 {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.tw{
    background: white;
    width: 20px;
    height: 20px;
    align-items: center;
    margin-left: 5px;
}
/* .row1 > li >img{
    margin-right: 5px;
} */
.text_text{
    color: #5E5E5E;
    display: flex;
}
.adress {
    width: 60%;
    font-size: 15px;
}
.hamburger{
	width: 50px;
	height: 50px;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
	z-index: 11;
}
.hamburger_line{
	display: inline-block;
	width: 80%;
	height: 4px;
	background: #ffbb42;
	transition: all .3s;
}
.hamburger{
	width: 50px;
	height: 50px;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
    z-index: 11;
    
}
.hamburger_line{
	display: inline-block;
	width: 80%;
	height: 4px;
	background: #ffbb42;
	transition: all .5s;
}
.hamburger.active > .hamburger_line:nth-child(2){
    opacity: 0;
}
.hamburger.active > .hamburger_line:nth-child(1){
    transform: rotate(45deg) translate(10px,10px);
    background: #fff;

}
.hamburger.active > .hamburger_line:nth-child(3){
    transform: rotate(-45deg) translate(16px,-14px);
    background: #fff;
}  

.header_menu.active {
	display: flex;
	flex-direction: column;
	justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	background: rgba(107, 30, 30, 0.7);
	z-index: 10;
}
.header_nuv.active > .header_line{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
}

.header_nuv.active > .header_line > a {
	display: flex;
	align-items: center;
	color:#fff;
	
}
.items_block.active {
    display: flex;
}
